
<nav class="navbar navbar-expand-lg navbar-dark bg-dark card shadow p-3 mb-5  rounded ">


    <a class="navbar-brand" href="{% url 'anasayfa' %}">
        <blockquote class="blockquote">
        <h1 class="display-4" style="text-align:center">MNSB'ye sor</h1>
         <footer class="blockquote-footer" style="text-align:center">Sancaktepe Anadolu Lisesi <cite title="Source Title"></cite></footer>
        </blockquote>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span> </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active text_white" href="{% url 'anasayfa' %}">Anasayfa<span class="sr-only">(current)</span> </a>
            <a class="nav-item nav-link text_white" href="{% url 'sorular' %}">Sorular</a>
            <a class="nav-item nav-link text_white" href="{% url 'duyurular' %}">Duyurular</a>
            <a class="nav-item nav-link text_white" href="{% url 'sorusor' %}">Soru sor</a>
            <a class="nav-item nav-link text_white" href="{% url 'hesap' %}">Hesap</a>
            <a class="nav-item nav-link text_white" href="{% url 'kayitol' %}">Kayıt ol</a>
            <a class="nav-item nav-link text_white" href="{% url 'girisyap' %}">Giriş yap</a>
            <a class="nav-item nav-link text_white" href="{% url 'iletisim' %}">İletişim-Hakkında</a>

        </div>


    </div>



</nav>