{%extends 'base.html'%}

{%block title%}Hesap{%endblock%}
{%block body%}
{% if messages %}
<div class="alert alert-success" role="alert">
    {%for message in messages%}
    <li {%if message.tags%} class="{{message.tags}}"{%endif%}>{{message}}</li>
    {%endfor%}

</div>
{%endif%}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 ">
                <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">Duyuru</button>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{duyuru.baslik}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {%if duyuru.resim%}
          <a href="{{duyuru.resim_görüntüle}}"><img src="{{duyuru.duyuru_resim_görüntüle}}" alt="Duyuru resim" class="img-fluid"></a>
          {%endif%}
        {{duyuru.duyuru|linebreaks}}
          <br/>
          {{duyuru.publishing_date}}
                    <br/>

          <a><strong>Duyuru kimler için geçerli?</strong> {{duyuru.duyuru_sinif}}</a><br/>
      </div>
      <div class="modal-footer">
          Gönderen:{{duyuru.isim}} {{duyuru.soyisim}}
      </div>
    </div>
  </div>
</div>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 shadow-lg p-3 mb-5  rounded">
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>İsim:</strong> {{kullanici.isim}}</li>
                <li class="list-group-item"><strong>Soyisim:</strong> {{kullanici.soyisim}}</li>
                <li class="list-group-item"><strong>Kullanıcı adı:</strong> {{kullanici.kullaniciadi}}</li>
                      <li class="list-group-item"><strong>Okul:</strong> {{kullanici.okul}}</li>
                <li class="list-group-item"><strong>Sınıf:</strong> {{kullanici.sinif}}</li>
                <li class="list-group-item"><strong>Numara:</strong> {{kullanici.numara}}</li>
                  <li class="list-group-item"><strong>Mail:</strong> {{kullanici.kullanici_mail}}</li>

                <a href="{%url 'veri_gun'%}" class="btn btn-primary">Hesap verilerini güncelle.</a><br/>
                  <a href="{%url 'veri_sil' kullaniciid=kullanici.id%}" class="btn btn-primary">Hesabı sil.</a>


              </ul>
            </div>
        </div>
    </div>
</div>

<br/>
                    <h5 style="text-align:center"><strong>*Tarayıcıyı kapatınca otomatik çıkış yapılacaktır.</strong></h5>
<hr/>

                    <h5 style="text-align:center"><strong>Paylaştığınız sorular.({{soru_sayısı}} adet)</strong></h5><hr/>
{%for soru in soru%}

<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card border-primary shadow-lg p-3 mb-5  rounded">
                <div class="card-body">
                    <h5 class="card-title"><strong>{{soru.baslik}}</strong><small>{{soru.publishing_date}}</small></h5>
                    <p class="card-text"><strong>{{i.icerik|linebreaks|truncatechars:150}}</strong></p>
                    <a href="{{soru.get_absolute_url}}" class="btn btn-primary">Soruyu incele.</a><br/><hr/>
                    <a href="{%url 'soru_gun' soruid=soru.id%}" class="btn btn-primary">Soruyu güncelle.</a><br/><hr/>
                    <a href="{%url 'soru_sil' soruid=soru.id%}" class="btn btn-primary">Soruyu sil.</a><br/>                </div>
            </div>
        </div>
    </div>
</div>
{%endfor%}

{%endblock%}
