{%extends 'base.html'%}
{%block title%}Güncelle{%endblock%}
{%block body%}

<h4><strong>Soru güncelle:</strong></h4><br/>
{% if messages %}
<ul>
<div class="alert alert-success" role="alert">
    {%for message in messages%}
    <li {%if message.tags%} class="{{message.tags}}"{%endif%}>{{message}}</li>
    {%endfor%}

</div>
</ul>
{%endif%}

<ul>
<form action="{%url 'soru_gun' soruid=soru.id%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <div class="form-group">
        <label for="exampleInputbaslik1"><strong>Başlık</strong></label>
        <input type="text" class="form-control" id="exampleInputbaslik1" aria-describedby="baslikHelp" placeholder="Başlık:" name="baslik" >
    </div>
    <div class="form-group">
        <label for="exampleInputicerik1"><strong>İçerik</strong></label>
        <textarea rows="4" class="form-control" id="exampleInputicerik1" aria-describedby="icerikHelp" placeholder="Soru hakkında içerik:" name="icerik"></textarea>
    </div>

    <div class="form-group">
        <label><strong>Ders</strong></label><br/>
        <select name="ders" >
            <option selected>Matematik</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleInputKitap1"><strong>Kitap ya da Deneme</strong></label>
        <input type="text" class="form-control" id="exampleInputKitap1" aria-describedby="KitapHelp" placeholder="Kitap:" name="kitap">
    </div>
    <div class="form-group">
        <label for="exampleInputSayfaNo1"><strong>SayfaNo</strong></label>
        <input type="text" class="form-control" id="exampleInputSayfaNo1" aria-describedby="SayfaNoHelp" placeholder="SayfaNo:" name="sayfano">
    </div>
    <div class="form-group">
        <label for="exampleInputSoruNo1"><strong>SoruNo</strong></label>
        <input type="text" class="form-control" id="exampleInputSoruNo1" aria-describedby="SoruNoHelp" placeholder="SoruNo:" name="soruno">
    </div>
    <div class="form-group">
        <label for="exampleInputResim1"><strong>Resim</strong></label>
        <input type="file" class="form-control" value="Resim seçin" id="exampleInputResim1" aria-describedby="ResimHelp" placeholder="Resim:" name="resim">
    </div>

    <input type="submit" class="btn btn-outline-info" value="Gönder"/>
</form>
</ul>
{%endblock%}
